{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "ecmaFeatures": {
      "classes": true,
      "modules": true
    }
  },
  "extends": "airbnb-base",
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": 0
  }
}
