* {
	box-sizing: border-box;
}

.display{
    background-color: #999999;
    height: 620px;
    position: relative;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

.ano{
	display: grid;
    grid-template-columns: auto auto;
    position: relative;
}

@media only screen and (max-width: 620px){

	.display{
		width: 96%;
		height: 900px;
	}

	.ano{
		grid-template-columns: auto;
	}
}

@media only screen and (max-device-width: 620px){
	
	.display{
		width: 100%;
		height: 1020px;
	}

	.ano{
		grid-template-columns: auto;
	}
}