body{
		margin: 0;
	    padding: 0;
}
.one{
	position: relative;
	top: 0%;
	width: 100%;
	background-color: #256188;
	height: 50px;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.one-1{
	display: flex;
    position: relative;
    top: 0px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.it{
	
	position: relative;
	color: #FF9800;
}
.one-2{
	margin: 30px;
	position: relative;
	top: 1px;
	text-decoration: none;
	color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #FF9800;
}

.block-1 a{
	text-decoration: none;
	color:white;
	background-color:#256188;
	font-size: 20px;
	padding: 5px;
    display: flex;

    
}

hr{
	opacity:1;
	
}
footer{
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.diss{
	color: #FF4560;
}

.conta{
	display: flex;
	align-items: center;
	position: relative;
}

.tudiv{
	display: flex;
	flex-direction: column;
	position: relative;
	margin-left: 280px;
	margin-bottom: 10px;
	width: 650px;
	border-radius: 14px;
}

.info{
   background-color: #999999;
   position: relative;
   left: 45px;
   top: 10px;
   display: flex;
   flex-direction: row;
   width: 550px;
   justify-content: center;
   border-radius: 9px;
}

.messi{

}

.dembele{
	margin-left: 80px;
	position: relative;
	top: 30px;
}

.parcel{
  background-color: #999999;
  margin-top: 20px;
  margin-bottom: 10px; 
  text-align: center;
  width: 550px;
  position: relative;
  left: 45px;
  border-radius: 9px;
}

.histos{
  grid-area: over;
  z-index: 0;
  background-color: white;
  width: 590px;
  height: 433px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  overflow: auto;
  position: relative;
  left: 27px;
}

.do{
	border-radius: 8px;
	border:none;
	background-color: #256188;
	color: #FF9800;
	padding: 8px;
}